*{
    margin: 0;
    padding: 0;
}

body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.container-header{
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.header{
    background-color: white;
}

.logo{
    width: 320px;
}

.logo:hover{
    cursor: pointer;
}

.btn-div{
    background-color: #75a0e1;
    color: white;
    width: 120px;
    height: 40px;
    text-align: center;
    padding-top: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: -50px;
    padding-left: 20px;
    padding-right: 10px;
    margin-left: 110px;
}
.btn-div:hover{
    cursor: pointer;
}

.fleche1{
    margin-right: 15px;
}

.menu{
    margin-left: 150px;
}

.lien{
    margin-right: 50px;
    text-decoration: none;
    color: #000000;
    position: relative;
    font-weight: bold;
}
.lien:hover{
   color: #75a0e1;
}

.fleche-bas{
    position: absolute;
    margin-top: 2px;
    margin-left: 3px;
}


.active{
    color: #75a0e1;
}

label{
    font-size: 25px;
    margin-right: 180px;
}
label:hover{
    cursor: pointer;
}

/* Partie Main*/
.main{
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    justify-content: space-around;
    width: 100%;
    height:73.4vh ;
    background-color: #ddeef7;
    border-radius: 30px;
    border-radius: 30px;
}

.main-texts{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 100px;
}
.div-main-img{
    margin-right: 220px;
}

.div-text1{
    background-color: #75a0e1;
    color: white;
    width: 200px;
    text-align: center;
    height: 30px;
    border-radius: 16px;
    padding-top: 10px;
}

.div-text2{
    width: 550px;
    font-size: 25px;
}

.div-text3{
    width: 600px;
    color: #616567;
}

.mes-boutons{
    display: flex;
    flex-direction: row;
    gap: 50px; 
}

.getStarted{
background-color: #75a0e1;
color: white;
width: 150px;
height: 35px;
text-align: center;
padding-top: 15px;
border-radius: 7px;
position: relative;
box-shadow:0px 5px 5px 0px #e3dcdc;
}

.getStarted:hover{
    cursor: pointer;
}

.howItWorks{
background-color: transparent;
border: 1px solid #75a0e1;
color: #75a0e1;
width: 150px;
height: 35px;
text-align: center;
padding-top: 15px;
border-radius: 7px;
position: relative;
}
.howItWorks:hover{
    cursor: pointer;
    background-color: #75a0e1 ;
    color: white;
}

.fleche{
    position: absolute;
    margin-top: 2px;
}
.fleche2{
    left: 110px;
}
.fleche3{
    left: 115px;
}

.sp1{
    margin-right: 20px;
}

.main-img{
    height: 350px;

}


/*Partie discovery*/

.discovery-part{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.discov-img{
    width: 600px;
    height: 500px;
    margin-left: 200px;
}

.discov-texts{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 200px;
}

.btn-discov{
    background-color: #75a0e1;
    color: white;
    width: 100px;
    height: 35px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    box-shadow:0px 5px 5px 0px #e3dcdc;
    border: 1px solid white;
}

.discov-h1-1{
    width: 500px;
}

.discov-p-1{
    width: 430px;
    color: #828282;
}

.person-text-p{
    width: 380px;
    color: #3d3d3d;
}


.presentation-div{
   display: flex;
   flex-direction: column; 
   gap: 30px;
}

.person-div{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.person-text-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Milieu part*/

.milieu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    gap: 20px;
}

.milieu-h1{
    width: 430px;
}

.milieu-p{
    width: 600px;
    text-align: center;
    color: #807e7e;
}

/*Equipe*/

.equipe-div{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
}

.equip-person-div{
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.equip-person-text-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.equip-person-text-p{
    width: 280px;
    color: #807e7e;
}

.p1{
margin-left: 150px;
}
.p3{
margin-right: 180px;
}

/*Partie Footer*/
.footer-liens-div{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-lien-div{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.l1{
    margin-left: 200px;
}

.l2{
    margin-left: -40px;
}
.l3{
    margin-right: 50px;
}
.l4{
    margin-right: 300px;
}

li{
    padding-bottom: 10px;
    list-style: none;
    color: #807e7e;
}



.copyright{
    height: 50px;
    text-align: center;
    margin-top: 100px;
    background-color: #75a0e1;
    color: white;
    padding-top: 50px;
}